html {
  height: 100%;
  background-image: linear-gradient(45deg, blue, yellow);
  background-repeat: no-repeat;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

body {
  width: 100%;
  margin: 0 auto;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: rgb(38, 39, 72);
}

h1,
h2 {
  width: 100%;
  text-align: center;
  font-weight: 400;
}

input {
  width: 20%;
  display: block;
  margin: 0 auto;
  background-color: lightgray;
  border: none;
  border-radius: 5px;
  padding: 1em;
  text-align: center;
  font-size: 1.25em;
}

p {
  text-align: center;
  font-weight: 900;
}

#pass-button {
  width: 60%;
  display: block;
  margin: 0 auto;
  background-color: aqua;
  padding: 1em;
  border-radius: 10px;
  border: none;
  margin-bottom: 1em;
  font-weight: 900;
  font-size: 20px;
}

#reset-button {
  width: 60%;
  display: block;
  margin: 0 auto;
  background-color: rgb(250, 23, 42);
  padding: 1em;
  border-radius: 10px;
  border: none;
  margin-bottom: 0.5em;
  font-weight: 900;
  font-size: 20px;
}

img {
  display: block;
  width: 100%;
  max-width: 40%;
  margin: 2em auto;
}
